<div class="sixteen columns large-bill">
  {{large-bill}}
</div>

<div class="sixteen columns sliders">
  {{marginal-propensity-graph
    consume=marginalPropensityToConsume
    save=marginalPropensityToSave
    max=sliderMaximum
    width=applicationWidth
  }}
  <div class="marginal-propensity-adjustments container">
    <div class="four columns marginal-propensity-label consume">
      Marginal Propensity to Consume: <strong>{{marginal-propensity-format marginalPropensityToConsume}}</strong>
    </div>
    <div class="eight columns marginal-propensity-slider">
      {{range-slider min=sliderMinimum max=sliderMaximum value=marginalPropensityToConsume}}
    </div>
    <div class="four columns marginal-propensity-label save">
      Marginal Propensity to Save: <strong>{{marginal-propensity-format marginalPropensityToSave}}</strong>
    </div>
  </div>
</div>

<div class="sixteen columns rounds">
  {{#each amount in dollarAmounts}}
    {{round-component amount=amount}}
  {{/each}}
</div>

<div class="sixteen columns stacked-bar-chart">
  {{stacked-bar-chart amounts=dollarAmounts width=applicationWidth}}
  <button {{action 'addRound'}} class="small add-round">Add Round</button>
  <button {{action 'resetActivity'}} class="small secondary reset-activity">Reset</button>
</div>